html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        //link(rel="stylesheet" href="/css/main.css")
        //link(rel="stylesheet" href="logins.css")

        meta(name='google-signin-client_id' content='545384910825-14gu3jrktnjfcjrntbv4t3akclpk2hn2.apps.googleusercontent.com')



    body
        script(src='https://apis.google.com/js/platform.js' async='' defer='')
        script(src='googlelogin.js')

    .g-signin2(data-onsuccess='onSignIn')
    .wrapper



