.myHeader{
    margin-top: 0;
}
.row_loginMy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 0;
}

.py-5My {
    padding-top: 1rem !important;
}

.container_loginMy {
    min-width: 992px !important;
    margin-top:0;
}

p.alreadyRegistered{
    color: #f4623a;
    font-size: large;
}

.marginTopStylId{
    margin-top: 0;
}

header.mastheadMy {
padding-top: 7rem;
padding-bottom: calc(7rem - 72px);
background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("./img/bg-masthead1.jpg");
background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("./img/bg-masthead1.jpg");
background-position: center;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;
}